#main{
    max-width: 500px !important;
    border-color: #ee8414;
    background: linear-gradient(45deg, #7f44ad, #967dc7);
    padding: 7px;
    border-radius: 10px;
    border-style: solid;
}
body{
    min-height: 100%;
    background-image: url(http://localhost:8080/images/back.jpg);
}
#mf{
    margin-top:15% !important;
}
*{
    color: black !important;
}
#bt{
    background: linear-gradient(45deg, #7f44ad, #967dc7);
    border-color: black !important;
}
input{
    background-color: #bcb2d0 !important;
    border-color: black !important;
}
p{
    color: rgb(255, 255, 255) !important;
    top: 97% !important;
    margin-bottom: 0 !important;
    position: fixed;
}
#calc{
    max-width: 500px !important;
    border-color: #ee8414;
    background: linear-gradient(45deg, #7f44ad, #967dc7);
    padding: 7px;
    border-radius: 10px;
    border-style: solid;
}